*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body,html
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #262626;
}

.box
{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box .btn
{
    position: relative;
    width: 155px;
    height: 50px;
    margin: 20px;
}

.box .btn a
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    color: #fff;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}

.box .btn:hover a
{
    letter-spacing: 3px;
}

.box .btn a::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15),
    transparent);
    transform: skew(45deg) translateX(0);
    transition: 0.5s;
}


.box .btn:hover a::before
{
    
    transform: skew(45deg) translateX(200px);
}


.box .btn::before
{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: #ffa502;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}



.box .btn:hover::before
{
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}


.box .btn::after
{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: #ffa502;
    border-radius: 10px;
    transform: 0.5s; 
    transition-delay: 0s;
}



.box .btn:hover::after
{
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}


.box .btn:nth-child(1)::before,
.box .btn:nth-child(1)::after
{
    background: #E1306C;
    box-shadow: 0 0 5px #E1306C, 
    0 0 15px #E1306C,
    0 0 30px #E1306C,
    0 0 60px #E1306C;
}
.box .btn:nth-child(3)::before,
.box .btn:nth-child(3)::after
{
    background: #2867B2;
    box-shadow: 0 0 5px #2867B2, 
    0 0 15px #2867B2,
    0 0 30px #2867B2,
    0 0 60px #2867B2;
}